.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1em;
  height: 90%;

  .logo-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 2em;

    img {
      width: 80px;
    }
  }

  .page-wrapper {
    max-width: 435px;
    width: 100%;
    margin: 0 2em;
  }
}