.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1em;
  height: 100%;

  .logo-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 2em;

    img {
      width: 80px;
    }
  }

  .page-wrapper {
    width: 70%;

    @media only screen and (min-width: 680px) {
      width: 30%;
    }
  }
}