@import 'src/assets/scss/colors.scss';

.centered-wrapper {
  width: 500px;
  margin: auto;
  background-color: $lightDark;
  box-shadow: 0 0 2px $lightWhite;
  padding: 1em;

  @media only screen and (max-width: 600px) {
    width: auto;
  }
}