@import 'src/assets/scss/colors.scss';

.table-view {
  &.table {
    color: $white;
    @media only screen and (max-width: 800px) {
      width: 1000px;
    }
  }
  td {
    max-height: 10px;

    &.title-cell, .edit-icon {
      cursor: pointer;

      &:hover {
        color: $lightBlue;
      }
    }
  }
}