@import 'src/assets/scss/colors.scss';

.side-nav {
  width: 220px;
  box-shadow: 0 0 2px $lightWhite;
  background-color: $lightDark;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
  overflow: auto;
  opacity: 1;
  transition: all .2s ease-out;
  
  &.close-nav {
    width: 0;
    padding: 0;
    opacity: 0;
    transition: all .2s ease-in;
  }

  @media only screen and (max-width: 900px) {
    position: fixed;
    width: 0;
    padding: 0;
    opacity: 0;
    transition: all .2s ease-in;

    &.close-nav {
      width: 220px;
      box-shadow: 0 0 5px $lightWhite;
      height: 100%;
      background-color: $lightDark;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2em 1em;
      overflow: hidden;
      opacity: 1;
      transition: all .2s ease-out;
    }
  }

  svg {
    margin-right: 1em;
  }

  div {
    width: 100%;
    font-weight: 500;
  }

  .middle {
    margin-top: 2em;
    a {
      display: block;
      text-decoration: none;
      width: 100%;
      color: $white;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 1em;
      font-weight: 500;

      &.active, &:hover {
        color: $lightBlue;
        background-color: $lightPlatinum;
        border-radius: 10px;
      }
    }
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
    }

    .close-nav-button {
      display: flex;
      justify-content: flex-end;
      span {
        font-weight: 900;
        padding: 0.5em;
      }
      @media only screen and (min-width: 901px) {
        display: none;
      }
    }
  }

  .bottom {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    cursor: pointer;

    &:hover {
      color: $lightBlue;
      background-color: $lightPlatinum;
      border-radius: 10px;
    }

  }
}